@font-face {
    font-family: vazir;
    src: url(./Lalezar-Font/OTF/Lalezar-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: vazir;
    display: flex;
    top: 100px;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: url(./Teaching-pottery-to-children.jpg);
    background-position: center;
    background-size: cover ;
    width: 100%;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
    .video-container{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
.box{
   width: 430px;
   height: 830px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #625d5d;
   border-radius: 20px;
   backdrop-filter:blur(15px);
   background:transparent;
   color: white;
}
 .center h2{
     text-align: center;
     color: rgb(255, 255, 255);
   } 
 .inputbox{
     position: relative;
     margin: 30px 0;
     width: 300px;
    border-bottom: 2px solid #ffffff;
 }
 .inputbox label{
   position: absolute;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   color: #ffffff;
   font-size: 1em;
   pointer-events: none;
   transition: 0.5s;
 }
 input:focus~label{
   top: -5px;
} 
input:focus ~ label{
   top: -5px;
} 
.inputbox input{
   width: 100%;
   height: 50px;
   background: transparent;
   border: none;
   outline: none;
   font-size: 1em;
   padding: 0 35px 0 5px;
   color: rgb(255, 255, 255);
}
button{
   width: 90%;
   height: 40px;
   border-radius: 40px;
   border: none;
   outline: none;
   background-color: rgb(255, 255, 255);
   margin-left: 20px;
   cursor: pointer;
   font-size: 1.3em;
   font-weight: 700;
}
.forget{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px ;
    font-size: 0.9em;
    color: #ffffff;
}
.forget label :nth-child(2){
    order: 1;
}
.forget label{
   display: flex;
   align-items: center;
}
.forget label input[ type="checbox"]{
    margin-right: 6px;
}
.forget label a{
    color: #000000;
    text-decoration: none;
}
.forget label a :hover{
    text-decoration: underline;
}
.register{
    font-size: 0.9em;
    color: #ffffff;
    text-align: center;
    margin: 20px 0 15px;
}
.register p a {
    text-decoration: none;
    color: #8b0000;
    font-weight: 800;
}
.register p a :hover{
    text-decoration: underline;
}
.b2{
    width: 40%;
    height: 20px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    margin-left: 90px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 70;
}
.b2 a{
    display: block;
    text-decoration: none;
    color: #000000;
}
.b2 :hover {
    cursor: pointer;
    color: rgb(21, 65, 187);
}